body{
  font-family: "Montserrat";
}
#title {
  background-color:pink;
  /* h1 font color */
  color: #fff;
}
.container-fluid{
  padding: 7% 20% 7%;
}
.title-class{
  font-family: 'Chilanka', cursive;
  font-weight: bold;
  font-size: 2.5rem;
}
h1{
font-family: 'Montserrat-Black', sans-serif;
font-size: 3rem;
font-weight: bold;
line-height: 1.5;
}
/* Navigation Bar */
/* add space between logo and text with out touch the navbar sizes*/
.navbar {
  padding: 0 0 4.5rem;
}
/* logo size */
.navbar-brand{
font-family: 'Shadows Into Light', cursive;
font-weight: bold;
font-size: 2.5rem;
}
/* change the size and space between navbar items */
.nav-item{
  padding: 0 18px;
  font-weight: bold;
}
/* change item size */
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light', sans-serif;
}
/* add space between buttom and text*/
.btn{
  margin: 5% 3% 5% 0;
}
.title-img{
width: 60%;
/*transform: rotate(10deg); */
position: absolute;
right: 10%;
}

/* feature item  section */
#features{
  padding: 7% 15%;
  background-color: #fff;
  z-index: 1;
  position: relative;

}
.feature-box{
  text-align:center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
h3{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
p{
  color: #8f8f8f;
  font-weight: bold;
}

/* testimonials section */
#testimonials{
  text-align: center;
  background-color:pink;
  color: #fff;
}
h2{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
.carousel-item{
  padding: 7% 15%;

}
.testimonials-img{
  width: 20%;
  border-radius: 50%;
  margin: 20px;
}
/*-- Press Section */
#press{
  background-color:pink;
  text-align: center;
  padding-bottom: : 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing Section - carousel(Cards) */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-Cards-colitem{
padding: 3% 2%;
}

/*  cta - Call to Action*/
#cta {
  padding: 7% 15%;
  background-color:pink;
  color:#fff;
  text-align: center;
}
.cta-h3{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer section */
#footer{
  padding: 7% 15%;
  text-align: center;
}
.footer-icons{
  margin: 20px 10px;
}

/* if we open the webpage in mobile device */
@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}
